<a href="https://colab.research.google.com/github/K-K-Sukanya/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 2

In [ ]:
Name ="K K Sukanya"
Address ="Poinachi, Kasaragod"
Telephone_no ="2165377809"
print(" Name:"+Name+"\n","Address:"+Address+"\n","Telephone no:"+Telephone_no)

 Name:K K Sukanya
 Address:Poinachi, Kasaragod
 Telephone no:2165377809

Question 3

In [ ]:
print("Your name is",name)
name="K K Sukanya"

Your name is K K Sukanya

Question 4

In [ ]:
#area of a rectangle 
Width = int(input("Enter the width: ")) 
Height = int(input("Enter the height: ")) 
area =Width * Height
print("The area is",area, "Square units")

Enter the width: 10
Enter the height: 3
The area is 30 Square units

Question 5

In [ ]:
#area of a triangle 
Base= int(input("Enter the base: "))
Height= int(input("Enter the height: ")) 
area = .5*Base*Height
print("The area is",area, "square units")

Enter the base: 9
Enter the height: 7
The area is 31.5 square units

Question 6

In [ ]:
#area of a circle
radius = int(input("Enter the radius: ")) 
area = 3.14*radius**2
print("The area is", area, "square units")

Enter the radius: 43
The area is 5805.860000000001 square units

Question 7

In [ ]:
Name = input("Enter your name: ") 
Age =input("Enter your age: ") 
print("My name is "+Name+" and my age is "+Age)

Enter your name: K K Sukanya
Enter your age: 19
My name is K K Sukanya and my age is 19

Question 8

In [ ]:
a=int(input("Enter a number: ")) 
a=a+1
print(a)

Enter a number: 6
7

Question 9

In [ ]:
Name = input("Enter your first name: ") 
print(Name)

Enter your first name: K K
K K

In [ ]:
input("Enter your first name: ")

Enter your first name: K K

'K K'